// Copyright (c) 2010 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

html {
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#search_container {
  text-align: center;
}

#search {
  width: 85%;
}


.app {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 20px;
  white-space: nowrap;
}

.app img {
  vertical-align: middle;
  height: 38px;
  width: 38px;
}

.app_title {
  vertical-align: middle;
  margin-left: 5px;
}

.app:hover {
  background-color: rgb(250,250,250);
  cursor:pointer;
  outline: 1px dotted rgb(100,100,200);
}

.app_selected,.app_selected:hover {
  background-color: rgb(230,230,230);
}
